<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <description>configuration informations about SpringMVC</description>

    <!-- 启用注解扫描器:扫描所有的controller,但是不扫描service -->
    <context:component-scan base-package="cn.lastwhisper.modular.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 加载注解驱动 -->
    <mvc:annotation-driven/>

    <!-- 配置文件上传解析器  -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 指定请求编码格式 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定指定允许上传文件的最大值(20M) -->
        <property name="maxUploadSize" value="20971520"/>
    </bean>
</beans>