.progressbar{
	border:1px solid #99BBE8;
	border-radius:5px;
	overflow:hidden;
}
.progressbar-text{
	text-align:center;
	color:#15428b;
	position:absolute;
}
.progressbar-value{
	background-color:#FF8D40;
	border-radius:5px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	width:0;
}
